<section class="block container">
  <header class="block__header">
    <h2 block__heading>Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quod.</p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel
        perspiciatis fuga, aliquam harum voluptas natus repudiandae id. Sit, at
        tenetur?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-right">
  <div class="container">
    <h2 block__heading>Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quod.</p>
    <div style="width: 30%; padding: 4rem">
      <div class="card card--primary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel
          perspiciatis fuga, aliquam harum voluptas natus repudiandae id. Sit,
          at tenetur?
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <h2 block__heading>Heading</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quod.</p>
</section>
