<div class="callout--primary">
  <div class="callout__grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started</h2>
      <p class="callout__para">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error
        explicabo labore voluptate quibusdam repudiandae quis perferendis
        sapiente similique harum amet Abba father, you are the otter , we are
        the clay the work of your hand. Mold us, mold us and shape us, as yu
        would like us to be?
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
