<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--red collapsible__chevron">
      <use xlink:href="../css/images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ex neque
    soluta officia minima saepe est sunt ad iste ipsa maiores, ipsam ratione rem
    ea tempore quae consequatur tenetur. Neque dignissimos tempora nostrum
    dolorum pariatur, alias est esse earum. Cum hic suscipit nulla tempore sed
    quos vel quisquam temporibus laudantium.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--red collapsible__chevron">
      <use xlink:href="../css/images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ex neque
    soluta officia minima saepe est sunt ad iste ipsa maiores, ipsam ratione rem
    ea tempore quae consequatur tenetur. Neque dignissimos tempora nostrum
    dolorum pariatur, alias est esse earum. Cum hic suscipit nulla tempore sed
    quos vel quisquam temporibus laudantium.
  </div>
</div>
